@use "sass:math";

////////////////////
// インナー幅設定
////////////////////
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1190px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！

////////////////////
// フォント設定
////////////////////

$base-font: "Zen Kaku Gothic New", sans-serif;
// $en-font: "Lora", sans-serif;
// $bebas: "Bebas Neue", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
// $medium: 500;
$semi-bold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #1a1a1a;
$black2: #595858;
$black3: #000;
$gray: #b2b2b2;
$gray2: #666;
$gray3: #4d4d4d;
$white: #fff;
$brown: #534741;
$blue: #64a5dd;
$red: #c0272d;
$yellow: #dc950f;
$yellow2: #f2d653;
$bg-yellow: #fff3a8;
$base: #3f3c3c;

body {
  font-family: $base-font;
  color: $base;
  // background-image: url(../images/common/bg-star-1.jpg);
  background-image: url(../images/common/back02.jpg);
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: top left;
}
