@use "sass:math";

////////////////////
// インナー幅設定
////////////////////
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 960px;
// ※キャンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 60px;
// ※PC時：デザインカンプの余白の幅ではない。PC時は通常25pxで大丈夫！

////////////////////
// フォント設定
////////////////////

// Noto Sans JP
@font-face {
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-family: "Noto Sans JP";
  src: url("../fonts/NotoSansJP-Bold.woff") format("woff");
}

// Noto Serif JP
@font-face {
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-family: "Noto Serif JP";
  src: url("../fonts/NotoSerifJP-Medium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-family: "Noto Serif JP";
  src: url("../fonts/NotoSerifJP-Bold.woff") format("woff");
}

$base-font: "Noto Serif JP", sans-serif;
$en-font: "Lora", sans-serif;
$bebas: "Bebas Neue", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #333;
$white: #fff;
$base: #5d5d5d;
$blue: #391e88;
$bg-black: #120e19;

body {
  font-family: $base-font;
  color: $base;
  background: #000;
}
