@use "global" as *;

.header {
    position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
    width: 100%;
    height: rem(130);
    background-color: transparent;
    @include mq("md") {
        // height: rem(40);
    }
}

.header__inner {
    padding: 0 rem(50);
    height: inherit;
    // display: flex;
    // justify-content: space-between;
    @include mq("md") {
        // padding: 0 rem(50);
    }
}

.header__logo {
    max-width: rem(390);
    width: 100%;
    height: inherit;
    @include mq("md") {
        // max-width: rem(74);
    }
}

.header__logo a {
    padding-top: rem(35);
    height: inherit;
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}