@use "global" as *;
.section-title {
  position: relative;
  text-align: center;

  font-size: rem(44);
  // line-height: calc(77/44);
  line-height: 1.5;
  font-weight: $bold;
  // letter-spacing: -0.025em;
  letter-spacing: -0.04em;
  color: $brown;

  @include mq("md") {
    font-size: rem(24);
  }
}

.section-title::after {
  content: "";
  display: block;
  max-width: rem(570);
  height: rem(10);
  margin: rem(15) auto 0;
  background-image: radial-gradient(circle, #f2d653 rem(5), transparent rem(5));
  background-position: left rem(-13) bottom;
  background-repeat: repeat-x;
  background-size: rem(37) rem(10);

	@include mq("md") {
		max-width: rem(280);
    margin: rem(8) auto 0;
		background-image: radial-gradient(circle, #f2d653 rem(3), transparent rem(5));
		background-position: left rem(-9) bottom;
		background-size: rem(26) rem(10);
	}
}
