@use "global" as *;

.top-about {
  /* 上端を楕円で切る */
  clip-path: ellipse(135% 100% at 50% 100%);

  @include mq("md") {
    clip-path: ellipse(250% 100% at 50% 0%);
  }
}

.top-about__bottom {
  padding-top: rem(80);
  padding-bottom: rem(92);
  background-color: $white;
  /* 下端を楕円で切る */
  clip-path: ellipse(135% 100% at 50% 0%);

  @include mq("md") {
    padding-top: rem(50);
    padding-bottom: rem(60);
    clip-path: ellipse(250% 100% at 50% 100%);
  }
}

.top-about__container {
  margin-top: rem(32);
  margin-inline: auto;
  max-width: rem(1100);
}

.top-about__wrap {
  padding-right: rem(56);
  display: flex;
  gap: rem(40);
  justify-content: space-between;

  @include mq("md") {
    flex-direction: column;
    gap: 0;
    padding-right: 0;
  }
}

.top-about__text {
  width: 40.19%;
  font-size: rem(26);
  // line-height: calc(40 / 26);
  line-height: 1.7;
  letter-spacing: normal;
  font-weight: $bold;
  color: $black;

  @include mq("md") {
    width: 100%;
    font-size: rem(18);
  }
}

.top-about__image {
  margin-top: rem(30);
  width: 55.523%;
  aspect-ratio: 580/352;

  @include mq("md") {
    width: 100%;
    aspect-ratio: 0;
  }
}

.top-about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(25);
}

.top-about__support-text {
  margin-top: rem(45);
  font-size: rem(27.6);
  // line-height: calc(33.15 / 27.62);
  line-height: 1.5;
  font-weight: $bold;
  letter-spacing: -0.04em;

  @include mq("md") {
    font-size: rem(18);
    // line-height: 1.4;
    line-height: 1.6;
    letter-spacing: -0.05em;
  }
}

.top-about__support-list {
  margin-top: rem(32);
  padding-right: rem(50);
  display: flex;
  justify-content: center;
  gap: rem(18);

  @include mq("md") {
    padding-right: 0;
    flex-wrap: wrap;
  }
}

.top-about__support-item {
  border-radius: 50%;
  overflow: hidden;
  text-align: center;

  @include mq("md") {
    width: calc(calc(100% / 3) - rem(18));
  }
}

.top-about__support-item img {
  width: 100%;
  height: auto;
  display: block;

  @include mq("md") {
    aspect-ratio: 1/1;
  }
}

.top-about__note {
  margin-top: rem(104);
  padding-right: rem(50);
  text-align: center;
  font-size: rem(31);
  // line-height: calc(37 / 31);
  line-height: 1.5;
  font-weight: $bold;
  letter-spacing: -0.05em;

  @include mq("md") {
    margin-top: rem(60);
    padding: 0;
    font-size: clamp(rem(18), 0.761rem + 1.02vw, rem(19));
  }
}
