@use "global" as *;

.top-guide {
  /* 上端を楕円で切る */
  clip-path: ellipse(190% 100% at 50% 100%);

  @include mq("md") {
    clip-path: ellipse(260% 100% at 50% 100%);
	}
}

.top-guide__bottom {
  padding-top: rem(100);
  padding-bottom: rem(210);
   /* 下端を楕円で切る */
  clip-path: ellipse(190% 100% at 50% 0%);
  background-image: url(../images/common/bg-star2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;

  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(100);
    clip-path: ellipse(260% 100% at 50% 0%);
    background-size: contain;
    background-repeat: repeat-y;
	}
}

.top-guide__inner {
  position: relative;
  z-index: 1;
}

.top-guide__items {
  margin-top: rem(66);

  @include mq("md") {
    margin-top: rem(40);
  }
}
