@use 'global' as *;

.top-contact {
	margin: rem(150) auto 0;
	padding-bottom: rem(125);
	justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: rem(47.6);
}

.top-contact__title {
	margin-top: rem(75);
}

.top-contact__text {
	font-size: rem(20);
	line-height: calc(30/20);
	letter-spacing: -0.04em;
	font-weight: $bold;
	
}

.top-contact__container {
	display: flex;

}

.top-contact__phone {
	width: 54.615%;
}

.top-contact__button {
	width: 45.385%;
}