@use 'global' as *;

.top-access {
	padding-top: rem(140);
	padding-bottom: rem(183);
	background-image: url(../images/common/bg-white2.png);
	// background-size: 100% auto;
	background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}


.top-access__map {
	margin-top: rem(36);
	max-width: rem(1120);

	position: relative;
	width: 100%;
	padding-top: 42.2836%;
	// アスペクト比(高さ474/横1121 * 100%)
	height: 0;
	background-color: $gray;

	@include mq("md") {
		// padding-top: 54.21245%;
		// アスペクト比(高さ148/横273 * 100%)
		// width: 100%;
	}
}

.top-access__map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.top-access__wrap {
	margin-top: rem(60);
	display: flex;
	gap: rem(35);

	@include mq("md") {
    flex-direction: column;
  }
}





.top-access__logo {
	// max-width: rem(348);
	// width: 100%;
	// width: 348px;
	// aspect-ratio: 348/86;
}

.top-access__logo {
	width: rem(348);
	height: rem(86);
}

// .top-access__logo img {
// 	aspect-ratio: 348/86;
// 	width: 100%;
// }


.top-access__address {
	padding: rem(37) 0;
	font-size: rem(24);
	line-height: calc(36/24);
	font-weight: $bold;
	letter-spacing: -0.04em;
	color: $black;
	text-align: center;
	
	@include mq("md") {
		font-size: rem(20);
	}
}

@include mq("md") {
	
}


.top-access__item {
	padding-top: 20px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	border-top: rem(1) solid $gray3;
	border-bottom: rem(1) solid $gray3;

	@include mq("md") {
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 15px;
	}
}

.top-access__term {
	padding: 7px;
	width: rem(123);
	height: rem(38);
	font-size: rem(24);
	line-height: 1;
	font-weight: $bold;
	letter-spacing: -0.04em;
	color: $black;
	background-color: $yellow2;
	text-align: center;
	align-items: center;
		
	@include mq("md") {
		font-size: rem(18);
	}
}

.top-access__decs {
	padding-top: rem(8);
	padding-bottom: rem(10);
	font-size: rem(20);
	line-height: calc(36/20);
	font-weight: $bold;
	letter-spacing: -0.04em;
	color: $black;
	float: left;
	text-align: right;

	@include mq("md") {
		font-size: rem(16);
		text-align: center;
		line-height: 1.6;
	}
}



.top-access__image {
	max-width: rem(620);
	width: 100%;
	aspect-ratio: 620/447;
}

.top-access__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	@include mq("md") {
		
	}
}