@use "global" as *;

.top-features {
}

.top-features__text {
  margin-top: rem(32);
  font-size: rem(30.7);
  line-height: calc(37.3 / 30.7);
  font-weight: $bold;
  letter-spacing: -0.04em;
  text-align: center;

  @include mq("md") {
    font-size: rem(21);
  
  }
}

.top-features__bubble {
  margin-top: rem(40);
  display: flex;
  gap: rem(36);
  justify-content: center;
}

.top-features__bubble-learn {
  max-width: 173px;
  margin-top: rem(60);
}
.top-features__bubble-eat {
  max-width: 173px;
}
.top-features__bubble-use {
  margin-top: rem(60);
  max-width: 186px;
}

.top-features__bubble-learn img {
  aspect-ratio: 173/195;
  object-fit: container;
}
.top-features__bubble-eat img {
  aspect-ratio: 173/225;
  object-fit: container;
}
.top-features__bubble-use img {
  aspect-ratio: 185/180;
  object-fit: container;
}

.top-features__image {
  margin-inline: auto;
  max-width: rem(415);
}

.aspect-ratio__image img {
  aspect-ratio: 354/415;
  object-fit: cover;
}

// @keyframes floatUpDown {
//   0% { transform: translateY(0); }
//   50% { transform: translateY(-10px); }
//   100% { transform: translateY(0); }
// }

// .js-floating img {
//   animation: floatUpDown 3s ease-in-out infinite;
// }

// @keyframes fadeSlideIn {
//   0% {
//     opacity: 0;
//     transform: translateY(-20px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// .js-fade-slide {
//   opacity: 0;
//   transform: translateY(-20px);
//   transition: opacity 0.6s ease, transform 0.6s ease;
// }

// .js-fade-slide.is-visible {
//   animation: fadeSlideIn 0.8s forwards;
// }

.top-features__cards {
	margin-top: rem(50);
  max-width: rem(1113);
  margin-inline: auto;
  
  @include mq("md") {
    max-width: rem(500);
	}
}

.top-features__button-wrap {
  margin-top: rem(40);
  text-align: center;
}